<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='https://fonts.googleapis.com/css?family=Noto+Sans+KR|Bangers|Aguafina Script' rel='stylesheet'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<title>Hyuk N Young's Web Archive</title>

</head>

<div class="header"> <!--title-->
<!-- <a href="https://hyuknyoung.github.io/index.html"> -->
	<a id="header-image" href="index.html">
		Hyuk & Young
	</a>
</div>

<body id="{{page.id}}">
